<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="phongDat">
      <h2 data-cy="phongDatDetailsHeading"><span jhiTranslate="finmansysApp.phongDat.detail.title">Phong Dat</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ phongDat.id }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.phongDat.ngayDat">Ngay Dat</span></dt>
        <dd>
          <span>{{ phongDat.ngayDat | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.phongDat.phong">Phong</span></dt>
        <dd>
          <div *ngIf="phongDat.phong">
            <a [routerLink]="['/phong', phongDat.phong?.id, 'view']">{{ phongDat.phong?.ten }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="finmansysApp.phongDat.phongDuocDat">Phong Duoc Dat</span></dt>
        <dd>
          <div *ngIf="phongDat.phongDuocDat">
            <a [routerLink]="['/phong-duoc-dat', phongDat.phongDuocDat?.id, 'view']">{{ phongDat.phongDuocDat?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/phong-dat', phongDat.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
