<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-phong-dat-heading" data-cy="PhongDatCreateUpdateHeading" jhiTranslate="finmansysApp.phongDat.home.createOrEditLabel">
        Create or edit a Phong Dat
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.phongDat.ngayDat" for="field_ngayDat">Ngay Dat</label>
          <div class="d-flex">
            <input
              id="field_ngayDat"
              data-cy="ngayDat"
              type="datetime-local"
              class="form-control"
              name="ngayDat"
              formControlName="ngayDat"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('ngayDat')!.invalid && (editForm.get('ngayDat')!.dirty || editForm.get('ngayDat')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('ngayDat')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('ngayDat')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.phongDat.phong" for="field_phong">Phong</label>
          <select class="form-control" id="field_phong" data-cy="phong" name="phong" formControlName="phong">
            <option *ngIf="!editForm.get('phong')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="phongOption.id === editForm.get('phong')!.value?.id ? editForm.get('phong')!.value : phongOption"
              *ngFor="let phongOption of phongsSharedCollection; trackBy: trackPhongById"
            >
              {{ phongOption.ten }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['phong'])!.invalid && (editForm.get(['phong'])!.dirty || editForm.get(['phong'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['phong'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.phongDat.phongDuocDat" for="field_phongDuocDat"
            >Phong Duoc Dat</label
          >
          <select class="form-control" id="field_phongDuocDat" data-cy="phongDuocDat" name="phongDuocDat" formControlName="phongDuocDat">
            <option *ngIf="!editForm.get('phongDuocDat')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                phongDuocDatOption.id === editForm.get('phongDuocDat')!.value?.id ? editForm.get('phongDuocDat')!.value : phongDuocDatOption
              "
              *ngFor="let phongDuocDatOption of phongDuocDatsSharedCollection; trackBy: trackPhongDuocDatById"
            >
              {{ phongDuocDatOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['phongDuocDat'])!.invalid && (editForm.get(['phongDuocDat'])!.dirty || editForm.get(['phongDuocDat'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['phongDuocDat'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
