.select-box {
  width: auto;
  margin-left: 15px;
  background-color: white;
  padding: 10px 15px 10px 10px;
  border-color: antiquewhite;
}

.info-box {
  padding: 5px 15px 10px 8px;
  border: solid 1px;
  width: 5px;
  height: 5px;
  margin-right: 15px;
}
