<div>
  <h2 id="page-heading" data-cy="PhongDuocDatHeading">
    <span jhiTranslate="finmansysApp.phongDuocDat.home.title">Phong Duoc Dats</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="finmansysApp.phongDuocDat.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-phong-duoc-dat"
        [routerLink]="['/phong-duoc-dat/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="finmansysApp.phongDuocDat.home.createLabel"> Create a new Phong Duoc Dat </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="phongDuocDats?.length === 0">
    <span jhiTranslate="finmansysApp.phongDuocDat.home.notFound">No phongDuocDats found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="phongDuocDats && phongDuocDats.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ngayDat">
            <span jhiTranslate="finmansysApp.phongDuocDat.ngayDat">Ngay Dat</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="khuyenMai">
            <span jhiTranslate="finmansysApp.phongDuocDat.khuyenMai">Khuyen Mai</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="checkIn">
            <span jhiTranslate="finmansysApp.phongDuocDat.checkIn">Check In</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="checkOut">
            <span jhiTranslate="finmansysApp.phongDuocDat.checkOut">Check Out</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="gia"><span jhiTranslate="finmansysApp.phongDuocDat.gia">Gia</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="khachHang.ten">
            <span jhiTranslate="finmansysApp.phongDuocDat.khachHang">Khach Hang</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let phongDuocDat of phongDuocDats; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/phong-duoc-dat', phongDuocDat.id, 'view']">{{ phongDuocDat.id }}</a>
          </td>
          <td>{{ phongDuocDat.ngayDat | formatMediumDatetime }}</td>
          <td>{{ phongDuocDat.khuyenMai }}</td>
          <td>{{ phongDuocDat.checkIn | formatMediumDatetime }}</td>
          <td>{{ phongDuocDat.checkOut | formatMediumDatetime }}</td>
          <td>{{ phongDuocDat.gia }}</td>
          <td>
            <div *ngIf="phongDuocDat.khachHang">
              <a [routerLink]="['/khach-hang', phongDuocDat.khachHang?.id, 'view']">{{ phongDuocDat.khachHang?.ten }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/phong-duoc-dat', phongDuocDat.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/phong-duoc-dat', phongDuocDat.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(phongDuocDat)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="phongDuocDats && phongDuocDats.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
