<div>
  <h2 id="page-heading" data-cy="NganSachNamHeading">
    <span jhiTranslate="finmansysApp.nganSachNam.home.title">Ngan Sach Nams</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="finmansysApp.nganSachNam.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ngan-sach-nam"
        [routerLink]="['/ngan-sach-nam/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="finmansysApp.nganSachNam.home.createLabel"> Create a new Ngan Sach Nam </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="nganSachNams?.length === 0">
    <span jhiTranslate="finmansysApp.nganSachNam.home.notFound">No nganSachNams found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="nganSachNams && nganSachNams.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ten"><span jhiTranslate="finmansysApp.nganSachNam.ten">Ten</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nam"><span jhiTranslate="finmansysApp.nganSachNam.nam">Nam</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="soTien">
            <span jhiTranslate="finmansysApp.nganSachNam.soTien">So Tien</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="khachSan.ten">
            <span jhiTranslate="finmansysApp.nganSachNam.khachSan">Khach San</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nganSachNam of nganSachNams; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ngan-sach-nam', nganSachNam.id, 'view']">{{ nganSachNam.id }}</a>
          </td>
          <td>{{ nganSachNam.ten }}</td>
          <td>{{ nganSachNam.nam }}</td>
          <td>{{ nganSachNam.soTien | currency: 'VNĐ' }}</td>
          <td>
            <div *ngIf="nganSachNam.khachSan">
              <a [routerLink]="['/khach-san', nganSachNam.khachSan?.id, 'view']">{{ nganSachNam.khachSan?.ten }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ngan-sach-nam', nganSachNam.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/ngan-sach-nam', nganSachNam.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(nganSachNam)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="nganSachNams && nganSachNams.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
