<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-phieu-thu-heading" data-cy="PhieuThuCreateUpdateHeading" jhiTranslate="finmansysApp.phieuThu.home.createOrEditLabel">
        Create or edit a Phieu Thu
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.phieuThu.ngayChungTu" for="field_ngayChungTu">Ngay Chung Tu</label>
          <div class="d-flex">
            <input
              id="field_ngayChungTu"
              data-cy="ngayChungTu"
              type="datetime-local"
              class="form-control"
              name="ngayChungTu"
              formControlName="ngayChungTu"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('ngayChungTu')!.invalid && (editForm.get('ngayChungTu')!.dirty || editForm.get('ngayChungTu')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('ngayChungTu')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('ngayChungTu')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.phieuThu.soTien" for="field_soTien">So Tien</label>
          <input type="number" class="form-control" name="soTien" id="field_soTien" data-cy="soTien" formControlName="soTien" />
          <div *ngIf="editForm.get('soTien')!.invalid && (editForm.get('soTien')!.dirty || editForm.get('soTien')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('soTien')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('soTien')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 1 }"
            >
              This field should be at least 1.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('soTien')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.phieuThu.khachHang" for="field_khachHang">Khach Hang</label>
          <select
            class="form-control"
            id="field_khachHang"
            data-cy="khachHang"
            name="khachHang"
            formControlName="khachHang"
            (change)="onChangeKhachHang()"
          >
            <option *ngIf="!editForm.get('khachHang')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="khachHangOption.id === editForm.get('khachHang')!.value?.id ? editForm.get('khachHang')!.value : khachHangOption"
              *ngFor="let khachHangOption of khachHangsSharedCollection; trackBy: trackKhachHangById"
            >
              {{ khachHangOption.ten }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['khachHang'])!.invalid && (editForm.get(['khachHang'])!.dirty || editForm.get(['khachHang'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['khachHang'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.phieuThu.khoanPhaiThu" for="field_khoanPhaiThu"
            >Khoan Phai Thu</label
          >
          <select class="form-control" id="field_khoanPhaiThu" data-cy="khoanPhaiThu" name="khoanPhaiThu" formControlName="khoanPhaiThu">
            <option *ngIf="!editForm.get('khoanPhaiThu')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                khoanPhaiThuOption.id === editForm.get('khoanPhaiThu')!.value?.id ? editForm.get('khoanPhaiThu')!.value : khoanPhaiThuOption
              "
              *ngFor="let khoanPhaiThuOption of khoanPhaiThuViews; trackBy: trackKhoanPhaiThuById"
            >
              {{ khoanPhaiThuOption.id }} - {{ khoanPhaiThuOption.ghiChu }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['khoanPhaiThu'])!.invalid && (editForm.get(['khoanPhaiThu'])!.dirty || editForm.get(['khoanPhaiThu'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['khoanPhaiThu'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.phieuThu.quyTien" for="field_quyTien">Quy Tien</label>
          <select class="form-control" id="field_quyTien" data-cy="quyTien" name="quyTien" formControlName="quyTien">
            <option *ngIf="!editForm.get('quyTien')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="quyTienOption.id === editForm.get('quyTien')!.value?.id ? editForm.get('quyTien')!.value : quyTienOption"
              *ngFor="let quyTienOption of quyTiensSharedCollection; trackBy: trackQuyTienById"
            >
              {{ quyTienOption.ten }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['quyTien'])!.invalid && (editForm.get(['quyTien'])!.dirty || editForm.get(['quyTien'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['quyTien'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
