<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-phong-duoc-dat-heading"
        data-cy="PhongDuocDatCreateUpdateHeading"
        jhiTranslate="finmansysApp.phongDuocDat.home.createOrEditLabel"
      >
        Create or edit a Phong Duoc Dat
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.phongDuocDat.ngayDat" for="field_ngayDat">Ngay Dat</label>
          <div class="d-flex">
            <input
              id="field_ngayDat"
              data-cy="ngayDat"
              type="datetime-local"
              class="form-control"
              name="ngayDat"
              formControlName="ngayDat"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('ngayDat')!.invalid && (editForm.get('ngayDat')!.dirty || editForm.get('ngayDat')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('ngayDat')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('ngayDat')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.phongDuocDat.khuyenMai" for="field_khuyenMai">Khuyen Mai</label>
          <input type="number" class="form-control" name="khuyenMai" id="field_khuyenMai" data-cy="khuyenMai" formControlName="khuyenMai" />
          <div *ngIf="editForm.get('khuyenMai')!.invalid && (editForm.get('khuyenMai')!.dirty || editForm.get('khuyenMai')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('khuyenMai')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('khuyenMai')?.errors?.max"
              jhiTranslate="entity.validation.max"
              [translateValues]="{ max: 100 }"
            >
              This field cannot be more than 100.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('khuyenMai')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.phongDuocDat.checkIn" for="field_checkIn">Check In</label>
          <div class="d-flex">
            <input
              id="field_checkIn"
              data-cy="checkIn"
              type="datetime-local"
              class="form-control"
              name="checkIn"
              formControlName="checkIn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('checkIn')!.invalid && (editForm.get('checkIn')!.dirty || editForm.get('checkIn')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('checkIn')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('checkIn')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.phongDuocDat.checkOut" for="field_checkOut">Check Out</label>
          <div class="d-flex">
            <input
              id="field_checkOut"
              data-cy="checkOut"
              type="datetime-local"
              class="form-control"
              name="checkOut"
              formControlName="checkOut"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('checkOut')!.invalid && (editForm.get('checkOut')!.dirty || editForm.get('checkOut')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('checkOut')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('checkOut')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.phongDuocDat.gia" for="field_gia">Gia</label>
          <input type="number" class="form-control" name="gia" id="field_gia" data-cy="gia" formControlName="gia" />
          <div *ngIf="editForm.get('gia')!.invalid && (editForm.get('gia')!.dirty || editForm.get('gia')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('gia')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('gia')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 1 }"
            >
              This field should be at least 1.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('gia')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.phongDuocDat.khachHang" for="field_khachHang">Khach Hang</label>
          <select class="form-control" id="field_khachHang" data-cy="khachHang" name="khachHang" formControlName="khachHang">
            <option *ngIf="!editForm.get('khachHang')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="khachHangOption.id === editForm.get('khachHang')!.value?.id ? editForm.get('khachHang')!.value : khachHangOption"
              *ngFor="let khachHangOption of khachHangsSharedCollection; trackBy: trackKhachHangById"
            >
              {{ khachHangOption.ten }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['khachHang'])!.invalid && (editForm.get(['khachHang'])!.dirty || editForm.get(['khachHang'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['khachHang'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
