<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-chi-tiet-tang-tscd-heading"
        data-cy="ChiTietTangTSCDCreateUpdateHeading"
        jhiTranslate="finmansysApp.chiTietTangTSCD.home.createOrEditLabel"
      >
        Create or edit a Chi Tiet Tang TSCD
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.chiTietTangTSCD.ngayThuMua" for="field_ngayThuMua"
            >Ngay Thu Mua</label
          >
          <div class="d-flex">
            <input
              id="field_ngayThuMua"
              data-cy="ngayThuMua"
              type="datetime-local"
              class="form-control"
              name="ngayThuMua"
              formControlName="ngayThuMua"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('ngayThuMua')!.invalid && (editForm.get('ngayThuMua')!.dirty || editForm.get('ngayThuMua')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('ngayThuMua')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('ngayThuMua')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.chiTietTangTSCD.soLuong" for="field_soLuong">So Luong</label>
          <input type="number" class="form-control" name="soLuong" id="field_soLuong" data-cy="soLuong" formControlName="soLuong" />
          <div *ngIf="editForm.get('soLuong')!.invalid && (editForm.get('soLuong')!.dirty || editForm.get('soLuong')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('soLuong')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('soLuong')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 1 }"
            >
              This field should be at least 1.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('soLuong')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.chiTietTangTSCD.chiPhiMua" for="field_chiPhiMua">Chi Phi Mua</label>
          <input type="number" class="form-control" name="chiPhiMua" id="field_chiPhiMua" data-cy="chiPhiMua" formControlName="chiPhiMua" />
          <div *ngIf="editForm.get('chiPhiMua')!.invalid && (editForm.get('chiPhiMua')!.dirty || editForm.get('chiPhiMua')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('chiPhiMua')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('chiPhiMua')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 1 }"
            >
              This field should be at least 1.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('chiPhiMua')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.chiTietTangTSCD.taiSanCD" for="field_taiSanCD">Tai San CD</label>
          <select class="form-control" id="field_taiSanCD" data-cy="taiSanCD" name="taiSanCD" formControlName="taiSanCD">
            <option *ngIf="!editForm.get('taiSanCD')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="taiSanCDOption.id === editForm.get('taiSanCD')!.value?.id ? editForm.get('taiSanCD')!.value : taiSanCDOption"
              *ngFor="let taiSanCDOption of taiSanCDSSharedCollection; trackBy: trackTaiSanCDById"
            >
              {{ taiSanCDOption.ten }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['taiSanCD'])!.invalid && (editForm.get(['taiSanCD'])!.dirty || editForm.get(['taiSanCD'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['taiSanCD'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
