<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="khoanPhaiTra">
      <h2 data-cy="khoanPhaiTraDetailsHeading"><span jhiTranslate="finmansysApp.khoanPhaiTra.detail.title">Khoan Phai Tra</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ khoanPhaiTra.id }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.khoanPhaiTra.ngayTao">Ngay Tao</span></dt>
        <dd>
          <span>{{ khoanPhaiTra.ngayTao | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.khoanPhaiTra.ngayPhaiTra">Ngay Phai Tra</span></dt>
        <dd>
          <span>{{ khoanPhaiTra.ngayPhaiTra | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.khoanPhaiTra.soTien">So Tien</span></dt>
        <dd>
          <span>{{ khoanPhaiTra.soTien | currency: 'VNĐ' }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.khoanPhaiTra.soTienDaTra">Số tiền đã trả</span></dt>
        <dd>
          <span>{{ soTienDaTra | currency: 'VNĐ' }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.khoanPhaiTra.soTienConThieu">Số tiền còn thiếu</span></dt>
        <dd>
          <span>{{ soTienConThieu | currency: 'VNĐ' }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.khoanPhaiTra.ghiChu">Ghi Chu</span></dt>
        <dd>
          <span>{{ khoanPhaiTra.ghiChu }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.khoanPhaiTra.khachHang">Khach Hang</span></dt>
        <dd>
          <div *ngIf="khoanPhaiTra.khachHang">
            <a [routerLink]="['/khach-hang', khoanPhaiTra.khachHang?.id, 'view']">{{ khoanPhaiTra.khachHang?.ten }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="finmansysApp.khoanPhaiTra.maKeToan">Ma Ke Toan</span></dt>
        <dd>
          <div *ngIf="khoanPhaiTra.maKeToan">
            <a [routerLink]="['/ma-ke-toan', khoanPhaiTra.maKeToan?.id, 'view']"
              >{{ khoanPhaiTra.maKeToan?.soHieu }} - {{ khoanPhaiTra.maKeToan?.ten }}</a
            >
          </div>
        </dd>
      </dl>
      <h4>Danh sách phiếu chi</h4>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <th><span jhiTranslate="global.field.id">ID</span></th>
          <th><span jhiTranslate="finmansysApp.phieuChi.ngayChungTu">Ngay Chung Tu</span></th>
          <th><span jhiTranslate="finmansysApp.phieuChi.soTien">So Tien</span></th>
          <th><span jhiTranslate="finmansysApp.phieuChi.quyTien">Quy Tien</span></th>
        </thead>
        <tbody>
          <tr *ngFor="let phieuChi of khoanPhaiTra.dsPhieuChis; let i = index">
            <td>
              <a [routerLink]="['/phieu-chi', phieuChi.id, 'view']">{{ phieuChi.id }}</a>
            </td>
            <td>{{ phieuChi.ngayChungTu }}</td>
            <td>{{ phieuChi.soTien | currency: 'VNĐ' }}</td>
            <td>
              <div *ngIf="phieuChi.quyTien">
                <a [routerLink]="['/quy-tien', phieuChi.quyTien?.id, 'view']">{{ phieuChi.quyTien?.ten }}</a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/khoan-phai-tra', khoanPhaiTra.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
