<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="quyTien">
      <h2 data-cy="quyTienDetailsHeading"><span jhiTranslate="finmansysApp.quyTien.detail.title">Quy Tien</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ quyTien.id }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.quyTien.ten">Ten</span></dt>
        <dd>
          <span>{{ quyTien.ten }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.quyTien.soTien">So Tien</span></dt>
        <dd>
          <span>{{ quyTien.soTien | currency: 'VNĐ' }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.quyTien.soTienThu">So Tien Thu</span></dt>
        <dd>
          <span style="color: green">{{ soTienThu | currency: 'VNĐ' }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.quyTien.soTienChi">So Tien chi</span></dt>
        <dd>
          <span style="color: red">-{{ soTienChi | currency: 'VNĐ' }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.quyTien.soTienHienTai">So Tien Hien Tai</span></dt>
        <dd>
          <span>{{ soTienHienTai | currency: 'VNĐ' }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.quyTien.loaiQuy">Loai Quy</span></dt>
        <dd>
          <div *ngIf="quyTien.loaiQuy">
            <a [routerLink]="['/loai-quy', quyTien.loaiQuy?.id, 'view']">{{ quyTien.loaiQuy?.ten }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="finmansysApp.quyTien.maKeToan">Ma Ke Toan</span></dt>
        <dd>
          <div *ngIf="quyTien.maKeToan">
            <a [routerLink]="['/ma-ke-toan', quyTien.maKeToan?.id, 'view']">{{ quyTien.maKeToan?.soHieu }} - {{ quyTien.maKeToan?.ten }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="finmansysApp.quyTien.khachSan">Khach San</span></dt>
        <dd>
          <div *ngIf="quyTien.khachSan">
            <a [routerLink]="['/khach-san', quyTien.khachSan?.id, 'view']">{{ quyTien.khachSan?.ten }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="finmansysApp.quyTien.ghiChu">Ghi Chu</span></dt>
        <dd>
          <span>{{ quyTien.ghiChu }}</span>
        </dd>
      </dl>
      <jhi-my-tabs>
        <jhi-my-tab [tabTitle]="'Tiền thu'">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <th><span jhiTranslate="global.field.id">ID</span></th>
              <th><span jhiTranslate="finmansysApp.phieuChi.ngayChungTu">Ngay Chung Tu</span></th>
              <th><span jhiTranslate="finmansysApp.phieuChi.soTien">So Tien</span></th>
            </thead>
            <tbody>
              <tr *ngFor="let phieuThu of quyTien.phieuThus; let i = index">
                <td>
                  <a [routerLink]="['/phieu-thu', phieuThu.id, 'view']">{{ phieuThu.id }}</a>
                </td>
                <td>{{ phieuThu.ngayChungTu }}</td>
                <td style="color: green">{{ phieuThu.soTien | currency: 'VNĐ' }}</td>
              </tr>
            </tbody>
          </table>
        </jhi-my-tab>
        <jhi-my-tab [tabTitle]="'Tiền chi'">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <th><span jhiTranslate="global.field.id">ID</span></th>
              <th><span jhiTranslate="finmansysApp.phieuChi.ngayChungTu">Ngay Chung Tu</span></th>
              <th><span jhiTranslate="finmansysApp.phieuChi.soTien">So Tien</span></th>
            </thead>
            <tbody>
              <tr *ngFor="let phieuChi of quyTien.phieuChis; let i = index">
                <td>
                  <a [routerLink]="['/phieu-thu', phieuChi.id, 'view']">{{ phieuChi.id }}</a>
                </td>
                <td>{{ phieuChi.ngayChungTu }}</td>
                <td style="color: red">-{{ phieuChi.soTien | currency: 'VNĐ' }}</td>
              </tr>
            </tbody>
          </table>
        </jhi-my-tab>
      </jhi-my-tabs>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/quy-tien', quyTien.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
