<nav data-cy="navbar" class="navbar navbar-dark navbar-expand-md bg-primary">
  <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
    <span class="logo-img"></span>
    <span jhiTranslate="global.title" class="navbar-title">Finmansys</span>
    <!--    <span class="navbar-version">{{ version }}</span>-->
  </a>
  <a
    class="navbar-toggler d-lg-none"
    href="javascript:void(0);"
    data-toggle="collapse"
    data-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleNavbar()"
  >
    <fa-icon icon="bars"></fa-icon>
  </a>
  <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
          <span>
            <fa-icon icon="home"></fa-icon>
            <span jhiTranslate="global.menu.home">Home</span>
          </span>
        </a>
      </li>
      <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
      <li
        *ngSwitchCase="true"
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
          <span>
            <fa-icon icon="th-list"></fa-icon>
            <span jhiTranslate="global.menu.entities.main">Entities</span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
          <li>
            <a
              class="dropdown-item"
              routerLink="khach-san"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.khachSan">Khach San</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="ma-ke-toan"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.maKeToan">Ma Ke Toan</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="khach-hang"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.khachHang">Khach Hang</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="khoan-muc-chi-phi"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.khoanMucChiPhi">Khoan Muc Chi Phi</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="phong"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.phong">Phong</span>
            </a>
          </li>
          <!--          <li>-->
          <!--            <a-->
          <!--              class="dropdown-item"-->
          <!--              routerLink="phong-duoc-dat"-->
          <!--              routerLinkActive="active"-->
          <!--              [routerLinkActiveOptions]="{ exact: true }"-->
          <!--              (click)="collapseNavbar()"-->
          <!--            >-->
          <!--              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>-->
          <!--              <span jhiTranslate="global.menu.entities.phongDuocDat">Phong Duoc Dat</span>-->
          <!--            </a>-->
          <!--          </li>-->
          <!--          <li>-->
          <!--            <a-->
          <!--              class="dropdown-item"-->
          <!--              routerLink="phong-dat"-->
          <!--              routerLinkActive="active"-->
          <!--              [routerLinkActiveOptions]="{ exact: true }"-->
          <!--              (click)="collapseNavbar()"-->
          <!--            >-->
          <!--              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>-->
          <!--              <span jhiTranslate="global.menu.entities.phongDat">Phong Dat</span>-->
          <!--            </a>-->
          <!--          </li>-->
          <li>
            <a
              class="dropdown-item"
              routerLink="dich-vu"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.dichVu">Dich Vu</span>
            </a>
          </li>
          <!--          <li>-->
          <!--            <a-->
          <!--              class="dropdown-item"-->
          <!--              routerLink="dich-vu-su-dung"-->
          <!--              routerLinkActive="active"-->
          <!--              [routerLinkActiveOptions]="{ exact: true }"-->
          <!--              (click)="collapseNavbar()"-->
          <!--            >-->
          <!--              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>-->
          <!--              <span jhiTranslate="global.menu.entities.dichVuSuDung">Dich Vu Su Dung</span>-->
          <!--            </a>-->
          <!--          </li>-->
          <li>
            <a
              class="dropdown-item"
              routerLink="toan-tu"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.toanTu">Toan Tu</span>
            </a>
          </li>
          <!--          <li>-->
          <!--            <a-->
          <!--              class="dropdown-item"-->
          <!--              routerLink="ngan-sach-thang"-->
          <!--              routerLinkActive="active"-->
          <!--              [routerLinkActiveOptions]="{ exact: true }"-->
          <!--              (click)="collapseNavbar()"-->
          <!--            >-->
          <!--              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>-->
          <!--              <span jhiTranslate="global.menu.entities.nganSachThang">Ngan Sach Thang</span>-->
          <!--            </a>-->
          <!--          </li>-->
          <li>
            <a
              class="dropdown-item"
              routerLink="cong-thuc"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.congThuc">Cong Thuc</span>
            </a>
          </li>
          <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
        </ul>
      </li>
      <li
        *jhiHasAnyAuthority="'ROLE_EMPLOYEE'"
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="quan-ly-ngan-sach" data-cy="quan-ly-ngan-sach">
          <span>
            <fa-icon icon="users-cog"></fa-icon>
            <span jhiTranslate="global.menu.quanLyNganSach.main">Quản lý ngân sách</span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="quan-ly-ngan-sach">
          <li>
            <a
              class="dropdown-item"
              routerLink="ngan-sach-nam"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.nganSachNam">Ngan Sach Nam</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="ngan-sach-nam/hach-toan"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.hachToan">Hạch toán ngân sách</span>
            </a>
          </li>
          <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
        </ul>
      </li>
      <li
        *jhiHasAnyAuthority="'ROLE_EMPLOYEE'"
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          class="nav-link dropdown-toggle"
          ngbDropdownToggle
          href="javascript:void(0);"
          id="quan-ly-tai-san-cd"
          data-cy="quan-ly-tai-san-cd"
        >
          <span>
            <fa-icon icon="users-cog"></fa-icon>
            <span jhiTranslate="global.menu.quanLyTaiSanCD.main">Quản lý tài sản cố định</span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="quan-ly-tai-san-cd">
          <li>
            <a
              class="dropdown-item"
              routerLink="loai-tai-san"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.loaiTaiSan">Loai Tai San</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="tai-san-cd"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.taiSanCd">Tai San CD</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="chi-tiet-tang-tscd"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.chiTietTangTscd">Chi Tiet Tang TSCD</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="chi-tiet-giam-tscd"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.chiTietGiamTscd">Chi Tiet Giam TSCD</span>
            </a>
          </li>
          <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
        </ul>
      </li>
      <li
        *jhiHasAnyAuthority="'ROLE_EMPLOYEE'"
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="quan-ly-quy" data-cy="quan-ly-quy">
          <span>
            <fa-icon icon="users-cog"></fa-icon>
            <span jhiTranslate="global.menu.quanLyQuy.main">Quản lý quỹ</span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="quan-ly-quy">
          <li>
            <a
              class="dropdown-item"
              routerLink="loai-quy"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.loaiQuy">Loai Quy</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="quy-tien"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.quyTien">Quy Tien</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="phieu-chi"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.phieuChi">Phieu Chi</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="phieu-thu"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.phieuThu">Phieu Thu</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="khoan-phai-tra"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.khoanPhaiTra">Khoan Phai Tra</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="khoan-phai-thu"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.entities.khoanPhaiThu">Khoan Phai Thu</span>
            </a>
          </li>
          <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
        </ul>
      </li>
      <li
        *jhiHasAnyAuthority="'ROLE_MANAGER'"
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="xem-bao-cao" data-cy="xemBaoCao">
          <span>
            <fa-icon icon="users-cog"></fa-icon>
            <span jhiTranslate="global.menu.xemBaoCao.main">Xem Bao Cao</span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="xem-bao-cao">
          <li>
            <a
              class="dropdown-item"
              routerLink="xem-bao-cao/bang-can-doi-ke-toan"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.xemBaoCao.bangCanDoiKeToan">Bang Can Doi Ke Toan</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="xem-bao-cao/bao-cao-doanh-thu"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.xemBaoCao.baoCaoDoanhThu">Bao Cao Doanh Thu</span>
            </a>
          </li>
          <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
        </ul>
      </li>
      <li
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
          <span>
            <fa-icon icon="users-cog"></fa-icon>
            <span jhiTranslate="global.menu.admin.main">Administration</span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
          <li>
            <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.admin.userManagement">User management</span>
            </a>
          </li>
          <li *ngIf="openAPIEnabled">
            <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.admin.apidocs">API</span>
            </a>
          </li>
          <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
        </ul>
      </li>
      <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" *ngIf="languages && languages.length > 1">
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
          <span>
            <fa-icon icon="flag"></fa-icon>
            <span jhiTranslate="global.menu.language">Language</span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
          <li *ngFor="let language of languages">
            <a
              class="dropdown-item"
              [jhiActiveMenu]="language"
              href="javascript:void(0);"
              (click)="changeLanguage(language); collapseNavbar()"
              >{{ language | findLanguageFromKey }}</a
            >
          </li>
        </ul>
      </li>
      <li
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" data-cy="accountMenu">
          <span *ngIf="!getImageUrl()">
            <fa-icon icon="user"></fa-icon>
            <span jhiTranslate="global.menu.account.main">Account</span>
          </span>
          <span *ngIf="getImageUrl()">
            <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar" />
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
          <li *ngSwitchCase="true">
            <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()" data-cy="settings">
              <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.settings">Settings</span>
            </a>
          </li>
          <li *ngSwitchCase="true">
            <a
              class="dropdown-item"
              routerLink="account/password"
              routerLinkActive="active"
              (click)="collapseNavbar()"
              data-cy="passwordItem"
            >
              <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.password">Password</span>
            </a>
          </li>
          <li *ngSwitchCase="true">
            <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
              <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.logout">Sign out</span>
            </a>
          </li>
          <li *ngSwitchCase="false">
            <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
              <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.login">Sign in</span>
            </a>
          </li>
          <!--          <li *ngSwitchCase="false">-->
          <!--            <a class="dropdown-item" routerLink="account/register" routerLinkActive="active" (click)="collapseNavbar()" data-cy="register">-->
          <!--              <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>-->
          <!--              <span jhiTranslate="global.menu.account.register">Register</span>-->
          <!--            </a>-->
          <!--          </li>-->
        </ul>
      </li>
    </ul>
  </div>
</nav>
