<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="phieuThu">
      <h2 data-cy="phieuThuDetailsHeading"><span jhiTranslate="finmansysApp.phieuThu.detail.title">Phieu Thu</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ phieuThu.id }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.phieuThu.ngayChungTu">Ngay Chung Tu</span></dt>
        <dd>
          <span>{{ phieuThu.ngayChungTu | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.phieuThu.soTien">So Tien</span></dt>
        <dd>
          <span>{{ phieuThu.soTien | currency: 'VNĐ' }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.phieuThu.khoanPhaiThu">Khoan Phai Thu</span></dt>
        <dd>
          <div *ngIf="phieuThu.khoanPhaiThu">
            <a [routerLink]="['/khoan-phai-thu', phieuThu.khoanPhaiThu?.id, 'view']"
              >{{ phieuThu.khoanPhaiThu?.id }} - {{ phieuThu.khoanPhaiThu?.ghiChu }}</a
            >
          </div>
        </dd>
        <dt><span jhiTranslate="finmansysApp.phieuThu.quyTien">Quy Tien</span></dt>
        <dd>
          <div *ngIf="phieuThu.quyTien">
            <a [routerLink]="['/quy-tien', phieuThu.quyTien?.id, 'view']">{{ phieuThu.quyTien?.ten }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="finmansysApp.phieuThu.khachHang">Khach Hang</span></dt>
        <dd>
          <div *ngIf="phieuThu.khachHang">
            <a [routerLink]="['/khach-hang', phieuThu.khachHang?.id, 'view']">{{ phieuThu.khachHang?.ten }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/phieu-thu', phieuThu.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
