<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="chiTietGiamTSCD">
      <h2 data-cy="chiTietGiamTSCDDetailsHeading">
        <span jhiTranslate="finmansysApp.chiTietGiamTSCD.detail.title">Chi Tiet Giam TSCD</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ chiTietGiamTSCD.id }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.chiTietGiamTSCD.ngayMua">Ngay Mua</span></dt>
        <dd>
          <span>{{ chiTietGiamTSCD.ngayMua | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.chiTietGiamTSCD.soLuong">So Luong</span></dt>
        <dd>
          <span>{{ chiTietGiamTSCD.soLuong }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.chiTietGiamTSCD.khauHao">Khau Hao</span></dt>
        <dd>
          <span>{{ chiTietGiamTSCD.khauHao | currency: 'VNĐ' }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.chiTietGiamTSCD.soTienThanhLy">So Tien Thanh Ly</span></dt>
        <dd>
          <span>{{ chiTietGiamTSCD.soTienThanhLy | currency: 'VNĐ' }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.chiTietGiamTSCD.chiPhiMua">Chi Phi Mua</span></dt>
        <dd>
          <span>{{ chiTietGiamTSCD.chiPhiMua | currency: 'VNĐ' }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.chiTietGiamTSCD.taiSanCD">Tai San CD</span></dt>
        <dd>
          <div *ngIf="chiTietGiamTSCD.taiSanCD">
            <a [routerLink]="['/tai-san-cd', chiTietGiamTSCD.taiSanCD?.id, 'view']">{{ chiTietGiamTSCD.taiSanCD?.ten }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/chi-tiet-giam-tscd', chiTietGiamTSCD.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
