<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="taiSanCD">
      <h2 data-cy="taiSanCDDetailsHeading"><span jhiTranslate="finmansysApp.taiSanCD.detail.title">Tai San CD</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ taiSanCD.id }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.taiSanCD.ten">Ten</span></dt>
        <dd>
          <span>{{ taiSanCD.ten }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.taiSanCD.donViTuoiTho">Don Vi Tuoi Tho</span></dt>
        <dd>
          <span>{{ taiSanCD.donViTuoiTho }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.taiSanCD.thoiGianSuDung">Thoi Gian Su Dung</span></dt>
        <dd>
          <span>{{ taiSanCD.thoiGianSuDung }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.taiSanCD.hinhAnh">Hinh Anh</span></dt>
        <dd>
          <div *ngIf="taiSanCD.hinhAnh">
            <a (click)="openFile(taiSanCD.hinhAnh, taiSanCD.hinhAnhContentType)">
              <img
                [src]="'data:' + taiSanCD.hinhAnhContentType + ';base64,' + taiSanCD.hinhAnh"
                style="max-width: 100%"
                alt="taiSanCD image"
              />
            </a>
            {{ taiSanCD.hinhAnhContentType }}, {{ byteSize(taiSanCD.hinhAnh) }}
          </div>
        </dd>
        <dt><span jhiTranslate="finmansysApp.taiSanCD.khachSan">Khach San</span></dt>
        <dd>
          <div *ngIf="taiSanCD.khachSan">
            <a [routerLink]="['/khach-san', taiSanCD.khachSan?.id, 'view']">{{ taiSanCD.khachSan?.ten }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="finmansysApp.taiSanCD.loaiTaiSan">Loai Tai San</span></dt>
        <dd>
          <div *ngIf="taiSanCD.loaiTaiSan">
            <a [routerLink]="['/loai-tai-san', taiSanCD.loaiTaiSan?.id, 'view']">{{ taiSanCD.loaiTaiSan?.ten }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/tai-san-cd', taiSanCD.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
