<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="nganSachNam">
      <h2 data-cy="nganSachNamDetailsHeading"><span jhiTranslate="finmansysApp.nganSachNam.detail.title">Ngan Sach Nam</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ nganSachNam.id }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.nganSachNam.ten">Ten</span></dt>
        <dd>
          <span>{{ nganSachNam.ten }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.nganSachNam.nam">Nam</span></dt>
        <dd>
          <span>{{ nganSachNam.nam }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.nganSachNam.soTien">So Tien</span></dt>
        <dd>
          <span>{{ nganSachNam.soTien | currency: 'VNĐ' }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.nganSachNam.khachSan">Khach San</span></dt>
        <dd>
          <div *ngIf="nganSachNam.khachSan">
            <a [routerLink]="['/khach-san', nganSachNam.khachSan?.id, 'view']">{{ nganSachNam.khachSan?.ten }}</a>
          </div>
        </dd>
      </dl>
    </div>
  </div>
  <div class="col-12">
    <div *ngIf="khoanMucChiPhis && nganSachNam">
      <h4>Danh sách ngân sách tháng</h4>
      <table class="table table-bordered table-hover">
        <thead>
          <th scope="col">STT</th>
          <th scope="col">Khoản mục</th>
          <th scope="col">Tháng 1</th>
          <th scope="col">Tháng 2</th>
          <th scope="col">Tháng 3</th>
          <th scope="col">Tháng 4</th>
          <th scope="col">Tháng 5</th>
          <th scope="col">Tháng 6</th>
          <th scope="col">Tháng 7</th>
          <th scope="col">Tháng 8</th>
          <th scope="col">Tháng 9</th>
          <th scope="col">Tháng 10</th>
          <th scope="col">Tháng 11</th>
          <th scope="col">Tháng 12</th>
          <th scope="col">Tổng</th>
        </thead>
        <tbody>
          <tr *ngFor="let khoanMucChiPhi of khoanMucChiPhis; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ khoanMucChiPhi?.ten }}</td>
            <td *ngFor="let j of listMonth">
              {{ getMoney(j, khoanMucChiPhi) | currency: ' ' }}
            </td>
            <td>{{ getTotal(khoanMucChiPhi) | currency: ' ' }}</td>
          </tr>
        </tbody>
      </table>
      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ngan-sach-nam', nganSachNam.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
