<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="dichVu">
      <h2 data-cy="dichVuDetailsHeading"><span jhiTranslate="finmansysApp.dichVu.detail.title">Dich Vu</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ dichVu.id }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.dichVu.ten">Ten</span></dt>
        <dd>
          <span>{{ dichVu.ten }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.dichVu.gia">Gia</span></dt>
        <dd>
          <span>{{ dichVu.gia | currency: 'VNĐ' }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.dichVu.moTa">Mo Ta</span></dt>
        <dd>
          <span>{{ dichVu.moTa }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/dich-vu', dichVu.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
