<div>
  <h2 id="page-heading" data-cy="ToanTuHeading">
    <span jhiTranslate="finmansysApp.toanTu.home.title">Toan Tus</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="finmansysApp.toanTu.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-toan-tu"
        [routerLink]="['/toan-tu/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="finmansysApp.toanTu.home.createLabel"> Create a new Toan Tu </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="toanTus?.length === 0">
    <span jhiTranslate="finmansysApp.toanTu.home.notFound">No toanTus found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="toanTus && toanTus.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="congThuc.maSo">
            <span jhiTranslate="finmansysApp.toanTu.congThuc">Cong Thuc</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dau"><span jhiTranslate="finmansysApp.toanTu.dau">Dau</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="maKeToan.soHieu">
            <span jhiTranslate="finmansysApp.toanTu.maKeToan">Ma Ke Toan</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let toanTu of toanTus; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/toan-tu', toanTu.id, 'view']">{{ toanTu.id }}</a>
          </td>
          <td>
            <div *ngIf="toanTu.congThuc">
              <a [routerLink]="['/cong-thuc', toanTu.congThuc?.id, 'view']"
                >{{ toanTu.congThuc?.maSo }} - {{ toanTu.congThuc?.tenChiTieu }}</a
              >
            </div>
          </td>
          <td>{{ toanTu.dau }}</td>
          <td>
            <div *ngIf="toanTu.maKeToan">
              <a [routerLink]="['/ma-ke-toan', toanTu.maKeToan?.id, 'view']">{{ toanTu.maKeToan?.soHieu }} - {{ toanTu.maKeToan?.ten }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/toan-tu', toanTu.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/toan-tu', toanTu.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(toanTu)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="toanTus && toanTus.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
