<div>
  <h2 id="page-heading" data-cy="PhieuThuHeading">
    <span jhiTranslate="finmansysApp.phieuThu.home.title">Phieu Thus</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="finmansysApp.phieuThu.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-phieu-thu"
        [routerLink]="['/phieu-thu/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="finmansysApp.phieuThu.home.createLabel"> Create a new Phieu Thu </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="phieuThus?.length === 0">
    <span jhiTranslate="finmansysApp.phieuThu.home.notFound">No phieuThus found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="phieuThus && phieuThus.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ngayChungTu">
            <span jhiTranslate="finmansysApp.phieuThu.ngayChungTu">Ngay Chung Tu</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="soTien">
            <span jhiTranslate="finmansysApp.phieuThu.soTien">So Tien</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="khoanPhaiThu.id">
            <span jhiTranslate="finmansysApp.phieuThu.khoanPhaiThu">Khoan Phai Thu</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="quyTien.ten">
            <span jhiTranslate="finmansysApp.phieuThu.quyTien">Quy Tien</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="khachHang.ten">
            <span jhiTranslate="finmansysApp.phieuThu.khachHang">Khach Hang</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let phieuThu of phieuThus; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/phieu-thu', phieuThu.id, 'view']">{{ phieuThu.id }}</a>
          </td>
          <td>{{ phieuThu.ngayChungTu | formatMediumDatetime }}</td>
          <td>{{ phieuThu.soTien | currency: 'VNĐ' }}</td>
          <td>
            <div *ngIf="phieuThu.khoanPhaiThu">
              <a [routerLink]="['/khoan-phai-thu', phieuThu.khoanPhaiThu?.id, 'view']"
                >{{ phieuThu.khoanPhaiThu?.id }} - {{ phieuThu.khoanPhaiThu?.ghiChu }}</a
              >
            </div>
          </td>
          <td>
            <div *ngIf="phieuThu.quyTien">
              <a [routerLink]="['/quy-tien', phieuThu.quyTien?.id, 'view']">{{ phieuThu.quyTien?.ten }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="phieuThu.khachHang">
              <a [routerLink]="['/khach-hang', phieuThu.khachHang?.id, 'view']">{{ phieuThu.khachHang?.ten }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/phieu-thu', phieuThu.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/phieu-thu', phieuThu.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(phieuThu)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="phieuThus && phieuThus.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
