<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-dich-vu-su-dung-heading"
        data-cy="DichVuSuDungCreateUpdateHeading"
        jhiTranslate="finmansysApp.dichVuSuDung.home.createOrEditLabel"
      >
        Create or edit a Dich Vu Su Dung
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.dichVuSuDung.soLuong" for="field_soLuong">So Luong</label>
          <input type="number" class="form-control" name="soLuong" id="field_soLuong" data-cy="soLuong" formControlName="soLuong" />
          <div *ngIf="editForm.get('soLuong')!.invalid && (editForm.get('soLuong')!.dirty || editForm.get('soLuong')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('soLuong')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('soLuong')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 1 }"
            >
              This field should be at least 1.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('soLuong')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.dichVuSuDung.gia" for="field_gia">Gia</label>
          <input type="number" class="form-control" name="gia" id="field_gia" data-cy="gia" formControlName="gia" />
          <div *ngIf="editForm.get('gia')!.invalid && (editForm.get('gia')!.dirty || editForm.get('gia')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('gia')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('gia')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 1 }"
            >
              This field should be at least 1.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('gia')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.dichVuSuDung.ngaySuDung" for="field_ngaySuDung">Ngay Su Dung</label>
          <div class="d-flex">
            <input
              id="field_ngaySuDung"
              data-cy="ngaySuDung"
              type="datetime-local"
              class="form-control"
              name="ngaySuDung"
              formControlName="ngaySuDung"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('ngaySuDung')!.invalid && (editForm.get('ngaySuDung')!.dirty || editForm.get('ngaySuDung')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('ngaySuDung')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('ngaySuDung')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.dichVuSuDung.dichVu" for="field_dichVu">Dich Vu</label>
          <select class="form-control" id="field_dichVu" data-cy="dichVu" name="dichVu" formControlName="dichVu">
            <option *ngIf="!editForm.get('dichVu')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="dichVuOption.id === editForm.get('dichVu')!.value?.id ? editForm.get('dichVu')!.value : dichVuOption"
              *ngFor="let dichVuOption of dichVusSharedCollection; trackBy: trackDichVuById"
            >
              {{ dichVuOption.ten }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['dichVu'])!.invalid && (editForm.get(['dichVu'])!.dirty || editForm.get(['dichVu'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['dichVu'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="finmansysApp.dichVuSuDung.phongDuocDat" for="field_phongDuocDat"
            >Phong Duoc Dat</label
          >
          <select class="form-control" id="field_phongDuocDat" data-cy="phongDuocDat" name="phongDuocDat" formControlName="phongDuocDat">
            <option *ngIf="!editForm.get('phongDuocDat')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                phongDuocDatOption.id === editForm.get('phongDuocDat')!.value?.id ? editForm.get('phongDuocDat')!.value : phongDuocDatOption
              "
              *ngFor="let phongDuocDatOption of phongDuocDatsSharedCollection; trackBy: trackPhongDuocDatById"
            >
              {{ phongDuocDatOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['phongDuocDat'])!.invalid && (editForm.get(['phongDuocDat'])!.dirty || editForm.get(['phongDuocDat'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['phongDuocDat'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
