<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="phongDuocDat">
      <h2 data-cy="phongDuocDatDetailsHeading"><span jhiTranslate="finmansysApp.phongDuocDat.detail.title">Phong Duoc Dat</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ phongDuocDat.id }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.phongDuocDat.ngayDat">Ngay Dat</span></dt>
        <dd>
          <span>{{ phongDuocDat.ngayDat | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.phongDuocDat.khuyenMai">Khuyen Mai</span></dt>
        <dd>
          <span>{{ phongDuocDat.khuyenMai }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.phongDuocDat.checkIn">Check In</span></dt>
        <dd>
          <span>{{ phongDuocDat.checkIn | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.phongDuocDat.checkOut">Check Out</span></dt>
        <dd>
          <span>{{ phongDuocDat.checkOut | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.phongDuocDat.gia">Gia</span></dt>
        <dd>
          <span>{{ phongDuocDat.gia | currency: 'VNĐ' }}</span>
        </dd>
        <dt><span jhiTranslate="finmansysApp.phongDuocDat.khachHang">Khach Hang</span></dt>
        <dd>
          <div *ngIf="phongDuocDat.khachHang">
            <a [routerLink]="['/khach-hang', phongDuocDat.khachHang?.id, 'view']">{{ phongDuocDat.khachHang?.ten }}</a>
          </div>
        </dd>
      </dl>
      <jhi-my-tabs>
        <jhi-my-tab [tabTitle]="'Dịch vụ sử dụng'">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <th><span jhiTranslate="global.field.id">ID</span></th>
              <th><span jhiTranslate="finmansysApp.dichVu.ten">Ten</span></th>
              <th><span jhiTranslate="finmansysApp.phieuChi.soTien">So Tien</span></th>
            </thead>
            <tbody>
              <tr *ngFor="let dichVu of phongDuocDat.dichVuSuDungs; let i = index">
                <td>
                  <a [routerLink]="['/dich-vu-su-dung', dichVu.id, 'view']">{{ dichVu.id }}</a>
                </td>
                <td>{{ dichVu.dichVu?.ten }}</td>
                <td>{{ dichVu.gia | currency: 'VNĐ' }}</td>
              </tr>
            </tbody>
          </table>
        </jhi-my-tab>
        <jhi-my-tab [tabTitle]="'Phòng sử dụng'">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <th><span jhiTranslate="global.field.id">ID</span></th>
              <th><span jhiTranslate="finmansysApp.phong.ten">Ten</span></th>
              <th><span jhiTranslate="finmansysApp.phieuChi.soTien">So Tien</span></th>
            </thead>
            <tbody>
              <tr *ngFor="let phong of phongDuocDat.phongDats; let i = index">
                <td>
                  <a [routerLink]="['/phong-dat', phong.id, 'view']">{{ phong.id }}</a>
                </td>
                <td>{{ phong.phong?.ten }}</td>
                <td>{{ phong.phong?.gia | currency: 'VNĐ' }}</td>
              </tr>
            </tbody>
          </table>
        </jhi-my-tab>
      </jhi-my-tabs>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/phong-duoc-dat', phongDuocDat.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
